// JourneyMap server configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft server
// For more information, go to: http://journeymap.info/JourneyMapServer
//
// Global Server Configuration : Applies to all dimensions unless overridden. 
{
  "journeymapEnabled": "true",
  "useWorldId": "true",
  "viewOnlyServerProperties": "true",
  "allowMultiplayerSettings": "ALL",
  "worldPlayerRadar": "OPS",
  "worldPlayerRadarUpdateTime": "5",
  "seeUndergroundPlayers": "OPS",
  "hideOps": "false",
  "hideSpectators": "false",
  "allowDeathPoints": "true",
  "showInGameBeacons": "true",
  "allowWaypoints": "true",
  "allowRightClickTeleport": "true",
  "radarLateralDistance": "512",
  "radarVerticalDistance": "320",
  "maxAnimalsData": "1",
  "maxAmbientCreaturesData": "1",
  "maxMobsData": "1",
  "maxPlayersData": "4",
  "maxVillagersData": "1",
  "minimapEnabled": "true",
  "hideCoordinates": "false",
  "teleportEnabled": "false",
  "crossDimTeleport": "true",
  "surfaceRenderRange": "0",
  "caveRenderRange": "0",
  "surfaceMapping": "ALL",
  "topoMapping": "ALL",
  "biomeMapping": "ALL",
  "caveMapping": "ALL",
  "radarEnabled": "ALL",
  "playerRadarEnabled": "false",
  "playerRadarNamesEnabled": "false",
  "villagerRadarEnabled": "false",
  "animalRadarEnabled": "false",
  "mobRadarEnabled": "false",
  "configVersion": "6.0.0-beta.47"
}